<div class="col-lg-3 col-md-3 col-sm-4">
    <!-- My account box start -->
    <div class="my-account-box">
        <div class="item">
            <h3 class="title">
                Manage Account
            </h3>
            <p>
                <a href="my-profile.html" class="active">
                    <i class="flaticon-social"></i>My Profile
                </a>
            </p>
            <p>
                <a href="my-bookmarks.html">
                    <i class="flaticon-shape"></i>Bookmarked Listings
                </a>
            </p>
        </div>
        <div class="item">
            <h3 class="title">
                Manage Annonce
            </h3>
            <p>
                <a href="{{ path('annonce_new') }}">
                    <i class="flaticon-apartment"></i>Mes annonce
                </a>
            </p>
            <p>
                <a href="submit-property.html">
                    <i class="fa fa-plus"></i>Submit New Property
                </a>
            </p>
        </div>
        <div class="item">
            <h3 class="title">
                Manage Produit
            </h3>
            <p>
                <a href="{{ path('annonce_new') }}">
                    <i class="flaticon-apartment"></i>Mes annonce
                </a>
            </p>
            <p>
                <a href="submit-property.html">
                    <i class="fa fa-plus"></i>Submit New Property
                </a>
            </p>
        </div>

        <div class="item">
            <h3 class="title">
                Gestion des animaux
            </h3>
            <p>
                <a href="{{ path('animaux_User_List') }}">
                    <i class="flaticon-apartment"></i>Mes Animaux
                </a>
            </p>
            <p>
                <a href="{{ path('animaux_Ajouter') }}">
                    <i class="fa fa-plus"></i>Ajouter un animal
                </a>
            </p>
        </div>

        <div class="item">
            <h3 class="title">
                Mes evenement
            </h3>
            <p>
                <a href="{{ path('event_mesevenement') }}">
                    <i class="flaticon-apartment"></i>Mes evenements
                </a>
            </p>

            <p>
                <a href="{{ path('event_new') }}">
                    <i class="fa fa-plus"></i>Ajouter un nouveau evenement
                </a>
            </p>
        </div>


        <div class="item">
            <p>
                <a href="{{ path('fos_user_change_password') }}">
                    <i class="flaticon-security"></i>Change Password
                </a>
            </p>
            <p>
                <a href="#">
                    <i class="flaticon-sign-out-option"></i>Log Out
                </a>
            </p>
        </div>
    </div>
    <!-- My account box end -->
</div>