{% extends 'front_office/base.html.twig' %}

{% block titre %}
    <title>Zanimo Homepage</title>
{% endblock %}

{% block slider %}
    <!-- Banner start -->
    {{ include('front_office/include/slider.html.twig') }}
    <!-- Banner end -->
{% endblock %}

{% block body %}
    <!-- Recent properties start -->
    <div class="recent-properties">
        <div class="container">
            <!-- Main title -->
            <div class="main-title">
                <h1>Les evenement les plus  populaire</h1>
                <div class="border">
                    <div class="border-inner"></div>
                </div>
                </div>

            <div class="row">
                {% for evenement in evenements %}
                    <div class="col-lg-4 col-md-4 col-sm-6 wow fadeInUp delay-03s">
                        <!-- Recent properties box start -->
                        <div class="thumbnail recent-properties-box">
                            <img src="{{ asset('images/'~ evenement.image) }}" alt="properties-1" class="img-responsive">
                            <!-- Detail -->
                            <div class="caption detail">
                                <!-- Header -->
                                <header>
                                    <div class="pull-left">
                                        <h1 class="title">
                                            <a href="{{ path('event_show', { 'id': evenement.id }) }}">{{ evenement.nom }}</a>
                                        </h1>
                                    </div>

                                    <!-- Price -->

                                </header>
                                <!-- Location -->
                                <h3 class="location">
                                    <a href="#">
                                        <i class="fa fa-map-marker"></i>{{ evenement.lieu }}
                                    </a>
                                </h3>
                                <!-- Facilities List -->

                                <li class="bordered-right">
                                    <i class="flaticon-square-layouting-with-black-square-in-east-area"></i>
                                    <span>{{ evenement.nbrParticipant }}</span>
                                </li>



                                <!-- Footer -->
                                <div class="footer">
                                    <a href="#">
                                        <i class="fa fa-user"></i>{{ evenement.createur }}
                                    </a>

                                </div>
                            </div>
                            <!-- Tag -->


                        </div>
                        <!-- Recent properties box end -->
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Recent properties end -->

    <!-- Categories strat -->
    <div class="categories">
        <div class="container">
            <!-- Main title -->
            <div class="main-title">
                <h1>Most Popular Places</h1>
                <div class="border">
                    <div class="border-inner"></div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac tortor at tellus feugiat congue quis ut nunc. Semper ac dolor vitae accumsan. interdum hendrerit lacinia.</p>
            </div>
            <div class="row wow">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 wow fadeInLeft delay-04s">
                            <div class="category">
                                <div class="category_bg_box cat-1-bg">
                                    <div class="category-overlay">
                                    <span class="category-content">
                                        <span class="category-title">New York</span><br>
                                        <span class="category-subtitle">27 Properties</span>
                                        <br>
                                        <a href="#" class="btn button-md button-theme">View All</a>
                                    </span><!-- /.category-content -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 wow fadeInLeft delay-04s">
                            <div class="category">
                                <div class="category_bg_box cat-2-bg">
                                    <div class="category-overlay">
                                    <span class="category-content">
                                        <span class="category-title">California</span><br>
                                        <span class="category-subtitle">98 Properties</span>
                                        <br>
                                        <a href="#" class="btn button-md button-theme">View All</a>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 wow fadeInUp delay-04s">
                            <div class="category">
                                <div class="category_bg_box cat-3-bg">
                                    <div class="category-overlay">
                                    <span class="category-content">
                                        <span class="category-title">Florida</span><br>
                                        <span class="category-subtitle">98 Properties</span>
                                        <br>
                                        <a href="#" class="btn button-md button-theme">View All</a>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInRight delay-04s">
                    <div class="category">
                        <div class="category_bg_box category_long_bg cat-4-bg">
                            <div class="category-overlay">
                            <span class="category-content">
                                <span class="category-title">Canada</span><br>
                                <span class="category-subtitle">98 Properties</span>
                                <br>
                                <a href="#" class="btn button-md button-theme">View All</a>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Categories end-->

    <!-- Section-1 start -->
    <div class="section-1 looking-for">
        <div class="container">
            <!-- Main title -->
            <div class="main-title">
                <h1>What are you looking for?</h1>
                <div class="border">
                    <div class="border-inner"></div>
                </div>
            </div>

            <div class="row mgn-btm wow">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeInLeft delay-04s">
                    <div class="content">
                        <i class="flaticon-apartment"></i>
                        <h4>Produit</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeInLeft delay-04s">
                    <div class="content">
                        <i class="flaticon-internet"></i>
                        <h4>Anumaux</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeInRight delay-04s">
                    <div class="content">
                        <i class="flaticon-vehicle"></i>
                        <h4>Annonce</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeInRight delay-04s">
                    <div class="content">
                        <i class="flaticon-symbol"></i>
                        <h4>Evenement</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Section-1 end -->

{% endblock %}