{% extends 'front_office/base.html.twig' %}

{% block body %}
    <h1>Animaux</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ animaux.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ animaux.nom }}</td>
            </tr>
            <tr>
                <th>Type_animal</th>
                <td>{{ animaux.typeanimal }}</td>
            </tr>
            <tr>
                <th>Type_offre</th>
                <td>{{ animaux.typeoffre }}</td>
            </tr>
            <tr>
                <th>Race</th>
                <td>{{ animaux.race }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ animaux.sexe }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ animaux.age }}</td>
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ animaux.taille }}</td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ animaux.poids }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ animaux.description }}</td>
            </tr>
            <tr>
                <th>Energie</th>
                <td>{{ animaux.energie }}</td>
            </tr>
            <tr>
                <th>Force</th>
                <td>{{ animaux.forceX }}</td>
            </tr>
            <tr>
                <th>Sociabilite</th>
                <td>{{ animaux.sociabilite }}</td>
            </tr>
            <tr>
                <th>Intelligence</th>
                <td>{{ animaux.intelligence }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ animaux.photo }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ animaux.prix }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('animaux_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('animaux_edit', { 'id': animaux.id }) }}">Edit</a>
        </li>
    </ul>
{% endblock %}
