{% extends 'front_office/base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}


    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" onclick="event_index" >
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('Produit_index') }}">Back to the list</a>
        </li>
    </ul>



    <!-- Sub banner start -->
    <div class="sub-banner">
        <div class="overlay">
            <div class="container">
                <div class="breadcrumb-area">
                    <div class="top">
                        <h1>Submit Property</h1>
                    </div>
                    <ul class="breadcrumbs">
                        <li><a href="index-2.html">Home</a></li>
                        <li class="active">Submit Property</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Sub Banner end -->

    <!-- Submit Property start -->
    <div class="submit-property">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="notification-box">
                        <h3>Don't Have an Account?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac tortor at tellus feugiat congue quis ut nunc. Semper ac dolor vitae accumsan.</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="submit-address">
                        <p1>{{ form_errors(form) }}</p1>

                            <h1>Ajouter un produit</h1>
                            <div class="search-contents-sidebar">


                                <div class="form-group">
                                    <label>libelle</label>
                                    {{ form_widget(form.libelle , { 'attr': {'class': 'form-control'} }) }}
                                    <input type="text" class="input-text" name="your name" placeholder="">
                                </div>

                                <div class="form-group">
                                    <label>Prix</label>
                                    {{ form_widget(form.prix , { 'attr': {'class': 'form-control'} }) }}
                                    <input type="text" class="input-text" name="your name" placeholder="">
                                </div>

                                <div class="form-group">
                                    <label>Type</label>
                                    {{ form_widget(form.type , { 'attr': {'class': 'form-control'} }) }}
                                    <select> <option>Aliment</option>
                                    <option>Accessoire</option></select>
                                    <input type="" class="input-text" name="your name" placeholder="">
                                </div>


                                <div class="form-group">
                                    <label>Marque du produit</label>
                                    {{ form_widget(form.marque , { 'attr': {'class': 'form-control'} }) }}
                                    <textarea class="input-text" name="message" placeholder="Detailed Information"></textarea>
                                </div>

                                <div class="col-md-12">

                                    <input class="btn button-md button-theme" type="submit" value="Enregistrer">

                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Submit Property end -->
{% endblock %}