
{% extends 'front_office/base.html.twig' %}

{% block body %}
    <h1>Produit</h1>

    <table>
        <tbody>
            <tr>
                <th>Idproduit</th>
                <td>{{ produit.idproduit }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ produit.libelle }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ produit.prix }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ produit.type }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ produit.marque }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('Produit_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('Produit_edit', { 'idproduit': produit.idproduit }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
